@{
    ViewData["Title"] = "Home Page";


}
    
        <div class="row">
            @foreach (var item in this.ViewBag.MonTableau)
            {

                <a href="#" class="card text-center m-2 border "style="width:7rem;">
                    <div class="card-body">

                    </div>
                    @item
                </a>


            }
        </div>
    